body {
  margin: 0px;
}

#top-bar {
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 700px;
  overflow: hidden;
  height: 30px;
}

#bottom-bar {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
}

#main-view {
  position: relative;
}

#file-tree {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
}

#tabs {
  width: auto;
  max-height: 31px;
  min-height: 31px;
  margin-bottom: 0px;
  overflow: hidden;
}

#editor-placeholder {
  background-color: white;
}

#editor-placeholder div {
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  color: #ddd;
}

#editor-pane, #editor-placeholder {
  position: absolute;
  top: 0px;
  left: 205px;
}

#editor-image {
  background-color: white;
}

#alert {
  display: none;
}

#run-button {
  margin-left: 10px;
}

#new-project-name {
  margin-left: 10px;
}

#project-chooser {
  width: 160px;
  margin-bottom: 0px;
}

#new-project-name {
  margin-bottom: 0px;
}

#new-file-name {
  margin-bottom: 0px;
}

.close-buffer-button {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  color: black;
  opacity: 0.4;
}

.close-buffer-button:hover {
  opacity: 1.0;
}

.nav-tabs li a {
  padding-top: 0px;
  padding-bottom: 0px;
}
