body {
  margin: 0px;
}

#top-bar {
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 700px;
  overflow: hidden;
  height: 30px;
}

#bottom-bar {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
}

#main-view {
  position: relative;
}

#file-tree {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
}

#tabs {
  width: auto;
  max-height: 37px;
  min-height: 37px;
  margin-bottom: 0px;
}

#editor-pane {
  position: absolute;
  top: 0px;
  left: 205px;
}

#alert {
  display: none;
}

#run-button {
  margin-left: 10px;
}

#new-project-name {
  margin-left: 10px;
}

#project-chooser {
  width: 160px;
  margin-bottom: 0px;
}

#new-project-name {
  margin-bottom: 0px;
}

#new-file-name {
  margin-bottom: 0px;
}